TP01: XHML, XML et DTD/exemples/exemple.dtd

<?xml version="1.0" encoding="iso-8859-1" ?>

<!ELEMENT stock    (produit+, texte)>
<!ELEMENT produit  (nom,prix?,quantity)>
<!ELEMENT nom      (#PCDATA)>

<!ELEMENT prix     (#PCDATA)>
<!ELEMENT quantity (#PCDATA)>
<!ELEMENT texte (#PCDATA)>

<!ATTLIST prix monnaie (Euros|Francs) #IMPLIED >
<!ATTLIST produit xmlns CDATA 'http://www.dil.univ-mrs.fr'>
